amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto==2.40.0
celery==3.1.23
celery-with-redis==3.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.6
django-celery==3.1.17
django-celery-with-redis==3.0
django-heroku-redisify==0.2.1
django-redis-cache==1.6.5
django-redis-sessions==0.5.0
django-s3-folder-storage==0.3
django-secure==1.0.1
django-storages==1.4.1
gunicorn==19.5.0
hiredis==0.2.0
kombu==3.0.35
newrelic==2.64.0.48
psycopg2==2.6.1
python-dateutil==2.5.3
pytz==2016.4
redis==2.10.5
six==1.10.0
South==1.0.2
static3==0.7.0
