Django==1.5
South==0.7.6
amqp==1.0.11
anyjson==0.3.3
billiard==2.7.3.28
boto==2.6.0
celery==3.0.19
celery-with-redis==3.0
dj-database-url==0.2.1
django-celery==3.0.17
django-celery-with-redis==3.0
django-heroku-redisify==0.2.1
django-redis-cache==0.9.7
django-redis-sessions==0.4.0
django-s3-folder-storage==0.1
django-storages==1.1.5
gunicorn==0.16.1
hiredis==0.1.1
kombu==2.5.10
newrelic==1.11.0.55
psycopg2==2.4.6
python-dateutil==2.1
pytz==2013b
raven==3.3.7
redis==2.7.5
six==1.3.0
